.header {
  padding: 30px 80px 40px;
  height: 800px;
  background: center / cover no-repeat #fff
    url("../images/background_header.svg");
  position: relative;
  display: flex;
  flex-direction: column;
}



.header__title {
  position: relative;
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
  color: #000;
  margin: 183px 0 0;
  max-width: 729px;
}
.header__span-accent {
  display: block;
  color: #3f96f3;
  font-style: italic;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
}

.header__description {
  max-width: 683px;
  margin: 28px 0 0;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  right: 5px;
  top: 124px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;
  padding-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}

.header__paragraph {
  margin: 0;
}

