@import url(../vendor/normalize.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/recipes.css);
@import url(../blocks/reservation.css);

/* .page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
} */

/* .header {
  padding: 30px 80px 40px;
  height: 800px;
  background: center / cover no-repeat #fff
    url("../images/background_header.svg");
  position: relative;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  width: 105px;
  height: 39px;
  left: -50px;
}

.nav__links {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  text-decoration: none;
  color: #000;
}

.header__title {
  position: relative;
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
  color: #000;
  margin: 183px 0 0;
  max-width: 729px;
}
.header__span-accent {
  display: block;
  color: #3f96f3;
  font-style: italic;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #3f96f3;
}

.header__description {
  max-width: 683px;
  margin: 28px 0 0;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  right: 5px;
  top: 124px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;
  padding-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}

.header__paragraph {
  margin: 0;
} */

/* .recipes {
  color: #fff;
  background: center / cover no-repeat #0a2750
    url("../images/background_recipes.svg");
  padding: 100px 80px 215px;
}

.recipes__title {
  margin: 0;
  max-width: 580px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  margin: 24px 0 0;
  min-width: 438px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
  margin: 80px 0 0;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: 0;
}

.recipes__video-caption {
  margin: 24px 0 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
} */

/* .reservation {
  background: center / cover no-repeat #d9e7ff
    url("../images/background_reservation.svg");
  padding: 100px 0 80px;
}

.reservation__title {
  margin: 0 0 80px;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.reservation__form {
  margin: 0 auto;
  max-width: 385px;
}

.form {
}

.form__input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 20px;
  margin: 8px 0 32px;
  border: 1px solid #838383;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #000;
}

.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
.form__label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.form__button {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 32px 0;
  background-color: #1878dc;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-bottom: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #838383;
  appearance: none;
  -webkit-appearance: none;
  position: relative;
}

.form__label_type_checkbox {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.form__checkbox:checked {
  border-radius: 2px;
  width: 20px;
  height: 20px;
  background: center / contain no-repeat #1878dc url("../images/check.svg");
} */
